In [1]:
mylist = [10,20,30,40,50]
result = [n*10 for n in mylist]
print(result)

[100, 200, 300, 400, 500]

In [9]:
# 세금 3.3% 제한 실수령액 리스트를 구하시오

salary = [1000,2000,3000,4000,5000]
result = [n*(1-0.033) for n in salary]
print(result)

[967.0, 1934.0, 2901.0, 3868.0, 4835.0]

In [1]:
rst = [n for n in range(1,6) if n>=3]
print(rst)

[3, 4, 5]

In [1]:
# 1 ~ 10 까지 짝수 리스트
rst = [n for n in range(1,11) if n%2==0]
print(rst)

[2, 4, 6, 8, 10]

In [2]:
# '이' 글자가 있는 이름에 대한 리스트를 구하시오

name = ['김철수','홍길동','이순신','이황','이이']
rst = [n for n in name if '이' in n]
print(rst)

['이순신', '이황', '이이']

In [2]:
a = ['aa', 'bb', 'cc']
b = [10,20,30]
print(list(zip(a,b)))
print(dict(zip(a,b)))

[('aa', 10), ('bb', 20), ('cc', 30)]
{'aa': 10, 'bb': 20, 'cc': 30}

In [3]:
for n in zip(a,b) :
    print(n)

('aa', 10)
('bb', 20)
('cc', 30)

In [4]:
for n in enumerate(a) :
    print(n)

(0, 'aa')
(1, 'bb')
(2, 'cc')

In [5]:
for i, j in enumerate(a) :
    print(i,j)

0 aa
1 bb
2 cc